<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <%= link_to task.user.name, user_path(task.user) %> <span class="text-muted">posted at <%= task.created_at %></span>
          </div>
          <div>
            <p><%= task.content %></p>
            
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate users %>
  </ul>
  
<% end %>